<div class="panel panel-default table-responsive">
  <table class="table">
    <tr>
      <th>Label</th>
      <th>State</th>
      <th>Colour</th>
      <th>Last Seen</th>
    </tr>
    <tr ng-repeat="bulb in BulbState.bulbs">
      <td><a href="#/bulb/{{bulb.id}}">{{bulb.label}}</a></td>
      <td style="min-width: 120px;">
        <div class="btn-group">
          <button class="btn btn-default" ng-model="bulb.power" btn-radio="'on'" ng-click="callOn(bulb.id)">On</button>
          <button class="btn btn-default" ng-model="bulb.power" btn-radio="'off'" ng-click="callOff(bulb.id)">Off</button>
        </div>
      </td>
      <td>{{bulb.color | json}}</td>
      <td>{{bulb.last_seen | date:'medium' }} ({{bulb.seconds_since_seen | number:2 }} seconds ago)</td>
    </tr>
  </table>
</div>
