<!DOCTYPE html>
<!--[if lt IE 7]>      <html lang="en" ng-app="myApp" class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html lang="en" ng-app="myApp" class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html lang="en" ng-app="myApp" class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!--> <html lang="en" ng-app="myApp" class="no-js"> <!--<![endif]-->
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <title>LiFX Controller</title>
  <meta name="description" content="">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="bower_components/html5-boilerplate/css/normalize.css">
  <link rel="stylesheet" href="bower_components/html5-boilerplate/css/main.css">
  <link rel="stylesheet" href="css/app.css"/>
  <link href="//netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css" rel="stylesheet"/>
  <link href="//netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap-theme.min.css" rel="stylesheet"/>
  <script src="bower_components/html5-boilerplate/js/vendor/modernizr-2.6.2.min.js"></script>
</head>
<body ng-controller="NavCtrl">
    <nav class="navbar navbar-inverse navbar-static-top" role="navigation">
      <div class="container-fluid">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle" ng-click="isCollapsed = !isCollapsed">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="#/bulbs">LiFX Controller</a>
        </div>
        <div class="collapse navbar-collapse" id="main-navbar" collapse="!isCollapsed">
          <ul class="nav navbar-nav">
            <li ng-class="navClass('bulbs')">
              <a role="button" href="#/bulbs">
                Overview
              </a>
            </li>
            <li ng-class="navClass('bulb')" class="dropdown">
              <a role="button" class="dropdown-toggle">
                Bulbs <span class="caret"></span>
              </a>
              <ul class="dropdown-menu">
                <li ng-class="navClass('bulb', '{{bulb.id}}')" ng-repeat="bulb in BulbState.bulbs">
                  <a href="#/bulb/{{bulb.id}}">{{bulb.label}}</a>
                </li>
              </ul>
            </li>
          </ul>
          <p class="navbar-text navbar-right">{{BulbState.refreshTimer | refreshText }}</p> 
        </div><!--/.nav-collapse -->
      </div>
    </nav>
  

  <!--[if lt IE 7]>
      <p class="browsehappy">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
  <![endif]-->

  <div class="container">
    <div ng-view></div>
  </div>

  <footer class="page-footer">
    <div class="container small">Version: <span app-version></span></div>
  </footer>
  <!-- In production use:
  <script src="//ajax.googleapis.com/ajax/libs/angularjs/x.x.x/angular.min.js"></script>
  -->
  <script src="bower_components/angular/angular.js"></script>
  <script src="bower_components/angular-i18n/angular-locale_en-gb.js"></script>
  <script src="bower_components/angular-bootstrap/ui-bootstrap.js"></script>
  <script src="bower_components/angular-route/angular-route.js"></script>
  <script src="bower_components/angular-resource/angular-resource.js"></script>
  <script src="swagger/shred.bundle.js"></script>
  <script src="swagger/swagger-client.js"></script>
  <script src="js/token.js"></script>
  <script src="js/app.js"></script>
  <script src="js/services.js"></script>
  <script src="js/version.js"></script>
  <script src="js/controllers.js"></script>
  <script src="js/filters.js"></script>
  <script src="js/directives.js"></script>
  <script src="js/lifx.js"></script>
</body>
</html>
